body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat", sans-serif
}

.w3-row-padding img {
    margin-bottom: 12px
}


/* Set the width of the sidebar to 120px */

.w3-sidebar {
    width: 120px;
    background: #222;
}


/* Add a left margin to the "page content" that matches the width of the sidebar (120px) */

#main {
    margin-left: 120px;
}

#main img#cv-main-image {
    margin-top: 60px;
    border-bottom: 3px solid #656565;
    width: 650px;
    margin-bottom: 35px;
}

@media only screen and (max-width: 600px) {
    #main {
        margin-left: 0
    }
    #main img#cv-main-image {
        margin-top: 20px;
        width: 500px;
        margin-bottom: 35px;
    }
}

@media only screen and (max-width: 1200px) {
    #main {
        margin-left: 0
    }
    #main img#cv-main-image {
        width: 600px;
    }
}

@media only screen and (max-width: 1200px) {
    #main img#cv-main-image {
        width: 500px;
    }
}

@media screen and (min-width: 640px) {
    .flex-container {
        display: flex;
    }
}